
@font-face {
    font-family:"Abhaya Libre SemiBold";
    src:url("AbhayaLibre-SemiBold.woff2") format("woff2"),url("AbhayaLibre-SemiBold.woff") format("woff"),url("AbhayaLibre-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        