
@font-face {
    font-family:"Abhaya Libre Bold";
    src:url("AbhayaLibre-Bold.woff2") format("woff2"),url("AbhayaLibre-Bold.woff") format("woff"),url("AbhayaLibre-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        