
@font-face {
    font-family:"Abhaya Libre ExtraBold";
    src:url("AbhayaLibre-ExtraBold.woff2") format("woff2"),url("AbhayaLibre-ExtraBold.woff") format("woff"),url("AbhayaLibre-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        